body {
  height: 300px;
  width: 250px;
  margin: 0;


  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius:20px;
  background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);


}


p {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05cm;
  color: #ffffff;
  
}


sup {
  font-size: 0.7em;
}





.location {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-weight: bold;
  color: #ffffff;
}


.location span {
  font-size: 1.7em;
  
}


.location sup {
  height: 1.4em;
  padding: 0.2em 0.6em;
  margin-left: 0.2em;
  border-radius: 30px;
  color: #000000;
  background: #ffa5a5;
}


.temperature {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 10px;
  color: #ffffff;
  text-align: center;

}

.feels_like_temp{
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
  margin-top: 10px;
  color:#ffffff;
  text-align: center;
}

